body {
 font-family: Arial, sans-serif;
 background-image: url("img/ep_naturalblack.png");
}

.dws{  /*Фиксируем иконку по центру*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate (-50%, -50%);
}

.pulse{
	/*outline: 1px solid #000;*/
	width: 90px;
	height: 90px;
	color: #fff;
	text-align: center;
	background-color: #5cc2e2;
	border-radius: 50%;
	position: relative;
}

.phone {
	position: absolute;
	/*outline: 1px solid #FAA21A;*/
	font-size: 50px;
	text-align: center;
	width: 90px;
	height: 90px;
	line-height: 94px;
	/*opacity: 0;*/
	animation: phone .9s ease-in-out infinite ;

}

.text{
	opacity: 0;
	position: absolute;
	/*outline: 1px solid #FAA21A;*/
	text-transform: uppercase;
	font-weight: 700;
	top: 28px;
	font-size: 15px;

	transform: scaleX(-1);
	transition: .5s ease-in-out;
}

.phone i {
	transition: .5s ease-in-out;	
}

.pulse:hover i{
	transition: .5s ease-in-out;
	transform: scale(0);	
}

.pulse:hover .text {
	transform: scaleX(1);
	transition: .5s ease-in-out;
	opacity: 1;
}

.pulse::before {
	content: '';
	position: absolute;
	border:1px solid #29AEE3;
	left: -20px;
	right: -20px;
	top: -20px;
	bottom: -20px;
	border-radius: 50%;
	animation: pulse 1.8s linear infinite;
}

@keyframes phone {
	0%, 100%{
		transform:rotate(-20deg);
	}
	50%{
			transform: rotate(21deg);
	}
}

@keyframes pulse {
		0%{
			transform: scale(0.5);
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
		100%{
			transform: scale(1.2);
			opacity: 0;
		}
	}


