*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;	
}
li{
	text-decoration: none;	
	list-style: none;
}
body{
	font-family: 'Mali', sans-serif;
}

@keyframes blesk {
  0% 50% 100% {
    transform:   rotateZ(0deg); 
  }
  25% {
    transform:  rotateZ(10deg) ;
  }
   75% {
    transform:  rotateZ(-10deg) ;
  }
}
.logo{
	background: #000 ;
	width: 100%;
	display: flex;
	justify-content: center;
}
.logo img {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;	
	animation: blesk 2s linear infinite;
}
nav{
	/*outline: 1px solid #0f0;*/
	margin: auto;
	width: 800px;
	height: 50px;
}
main{
	/*outline: 1px solid #0f0;*/
}

.block {
	background: url( "../../image/815.jpg");
	background-size: cover;
	height: 100vh;
	color: #dda;
	font-family: 'Oswald', sans-serif;
}

.topnav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}
.topnav a{
	color:#000;
	text-align: center;
	padding: 14px 16px;
	font-size: 15px;
}
.topnav a:hover{
	border-bottom: 2px solid #000;
}
.topnav .icon{
	display: none;
}

.mv-100{
	max-width: 100%;
}
.advantages_container{
display: flex;
justify-content: center;
}

.advantages{
	padding-top: 40px;
	padding-bottom: 40px;
	width: 70%;
	display: flex;
	justify-content:space-between;
	text-align: center;
	flex-wrap: wrap;
}
.advantages_item {
	width: 30%;
}
.advantages_item a:hover{
	color: grey;
	border-bottom: 2px solid grey;
}
@media screen and (max-width: 1200px){
	.block{
		height: 150vh;
	}
}
@media screen and (max-width: 840px){
	.block{
		height: 180vh;
	}
}
@media screen and (max-width: 768px){
	.topnav a:not(:first-child){
		display: none;
	}
	.down_menu{
		outline: 1px solid #ff0;
		width: 100px;
		height: 100px;
		background: #0f0;
	}
	.topnav a.icon{
		float: left;
		margin-top: -17px;
		display: block;
		color: black;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.advantages_item{
		width: 45%;

	}
	.logoname{
		display: none;
	}
	.block{
		height: 250vh;
	}
}
@media screen and (max-width: 500px){
	.advantages{
		flex-direction: column;

	}
	.advantages_item{
		width: 100%;

	}
	.block{
		height: 300vh;
	}
}
footer{
	width: 100%;
	height: auto;
	background: #000;
	margin:0 auto;
	text-align: center;
	padding-top: 25px;
}
footer a {
	color: #fff;
	font-size: 14px;
	margin-left: 10px;

}
footer nav a:hover{
	border-bottom: 1px solid white;
}
.social img {
	margin-left: 10px;
	margin-bottom: 10px;
}
.social img:hover{
	background: #494949;
	border-radius: 50%; 
}
